language: node_js
node_js:
    - "0.10"
    - "0.12"
    - "iojs"
script: npm test
before_install:
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start
before_script:
    - npm install
    - npm install -g grunt-cli
    - grunt build
